#kdpover {
    position: absolute;

    overflow-y: scroll;

    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 8px;

    border-radius: 8px;

    min-width: 100px;
    max-width: 150px;
    max-height: 250px;

    background-color: #303030;
    filter: drop-shadow(0px 0px 5px #000000);
    color: white;

    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;
    }
    > hr {
        width: 100%;
        border-top: 1px solid white;
    }
}

.kdpover-header {
    font-size: small;
    font-weight: bold;
    color: darkgray;
}

.kdpover-content {
    font-size: medium;
}

.kdpover-kanji {
    font-size: xx-large;
}
